{
    "extends": "airbnb",
    "plugins": [
        "node",
        "promise",
        "react"
      ],
      "env": {
        "browser": true
      },
      "globals": {
        "__STATE__": true,
        "serviceworker": true,
        "DBHelper": true
      },
    "rules": {
      "padding-line-between-statements": [
        "error",
        { "blankLine": "always", "prev": "*", "next": "return" },
        { "blankLine": "always", "prev": "*", "next": "block-like" },
        { "blankLine": "always", "prev": "block-like", "next": "*" },
        { "blankLine": "always", "prev": ["const", "let", "var"], "next": "*"},
        { "blankLine": "any", "prev": ["const", "let", "var"], "next": ["const", "let", "var"]}
      ],
      "object-curly-newline": 0,
      "promise/prefer-await-to-then": 1,
      "promise/prefer-await-to-callbacks": 1,
      "node/no-unpublished-require": 0,
    }
  }
  